footer {
  // background-color: #f7fafd;
  // padding-top: 20px;

  // .social-network{
  //   display: flex;
  //   justify-content: flex-end;
  //   padding: 5px;
  // }

  .copy-right {
    background-color: #252528;
    color: #fff;
    padding: 15px 0;
    font-size: 14px;
  }
}
